[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysolr = "*"
lxml = "*"
types-lxml = "*"
requests = "*"
python-dateutil = "*"

[dev-packages]
pytest = "*"
sphinx = "*"
myst-parser = "*"

[requires]
