[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysolr = "*"
pytest = "*"
lxml = "*"
types-lxml = "*"
sqlalchemy = "*"
sphinx = "*"
myst-parser = "*"
pluggy = "*"
requests = "*"
python-dateutil = "*"

[dev-packages]

[requires]
